<a href="https://colab.research.google.com/github/RenukaBenkalkar/Python/blob/main/Python_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Get marks and Display grades
marks =int(input('Enter the Marks '))
if marks>=90 and marks<=100:
  print('Grade points 10: ' +  'outstanding')
elif marks>=80 and marks<90:
  print('Grade points 9: ' + 'Exellent')
elif marks>=70 and marks<80:
  print('Grade points 8: ' + 'Very Good')
elif(marks>=60) and marks<70:
  print('Grade points 7: ' +'Good')
elif(marks>=50) and marks<60:
  print('Grade points 6: ' +'Above Average')
elif(marks>=40) and marks<50:
  print('Grade points 5: ' +'Average')
elif(marks>=30) and marks<40:
  print('Grade points 4: ' +'Pass')
elif(marks>=0) and marks<30:
  print('Grade points 0: ' +'Fail')
else:
  print('Enter valid Number')

Enter the Marks 57
Grade points 6: Above Average

In [ ]:
#BMI Calculater
weight=float(input('Please Enter weight in kg '))
height=float(input('Please Enter Height in meters '))
bmi = (weight)/(height**2)
print('Your BMI is ',bmi)
if bmi<=18.4:
  print('Underweight')
elif bmi>=18.5 and bmi <=24.9:
  print('Normal')
elif bmi>=25 and bmi<=39.9:
  print('Overweight')
elif bmi>=40.0:
  print('obese')
else:
  print('Enter valid Weight and Height')

Please Enter weight in kg 50
Please Enter Height in meters 1.56
Your BMI is  20.5456936226167
Normal

In [ ]:
#multiplication table
num=int(input('Enter the Number:'))
multiply=0
for i in range(1,11):
   multiply = num * i
   print(num,'x',i, '=',multiply)

Enter the Number:9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [ ]:
#Student Registration Number using While Loop
n=int(input('Enter number of students'))
reg=5000
i=0
while(i<n):
  name = input('your good name.')
  print('Hello ',name, 'Congrate welcome to ABC university')
  i=i+1
  print('Your Registration number is',reg )
  reg=reg+1
  print('\n')
else:
   print('sorry Admission over ')

Enter number of students2
your good name.aaaa
Hello  aaaa Congrate welcome to ABC university
Your Registration number is 5000


your good name.cccc
Hello  cccc Congrate welcome to ABC university
Your Registration number is 5001


sorry Admission over

In [5]:
#Create Dictionary using 4 country data
country={
    'CountryName':['United Kingdom','India','France','Spain'],
    'Population':['68.3 million','1.45 billion','68.4 million','49.1 milion'],
    'Area':['607 square miles','1,269,219 square miles','248,573 square miles','195,360 square miles'],
    'Capital':['London','New Delhi','Paris','Madrid']
}

country

{'CountryName': ['United Kingdom', 'India', 'France', 'Spain'],
 'Population': ['68.3 million', '1.45 billion', '68.4 million', '49.1 milion'],
 'Area': ['607 square miles',
  '1,269,219 square miles',
  '248,573 square miles',
  '195,360 square miles'],
 'Capital': ['London', 'New Delhi', 'Paris', 'Madrid']}

In [12]:
#Find total price of all products in product dictionary
products={
    'ID' :[100,101,102],
    'Name':['laptop','iphone','tab'],
    'Price':[1200,500,700]
}
#products['Price']
sum=0
for i in products['Price']:
  sum=sum+i
  print(i)
print(sum)

1200
500
700
2400

In [13]:
#Find the count of products in product dictionary
products={
    'ID' :[100,101,102],
    'Name':['laptop','iphone','tab'],
    'Price':[1200,500,700]
}
count=0
for i in products['ID']:
  count=count+1
print(count)

3